<!doctype html>
<html lang="en" ng-app="toDoList">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoController.js"></script>
  </head>

  <body ng-controller="todoController as toDoList">
    <div id="body">
      <img id="img" src="image/TODO_02.jpg" alt="todo image" style="width:304px;height:110px;">
        <input id="searchbox" type="text" placeholder="please type a todo" ng-model="toDoList.newTodo"/>
        <button ng-click="toDoList.addToList()" id="submit">Go</button>
      <button id="clear" ng-click="toDoList.clear()">clear</button>
    <div id='box'>
      <ul>
        <li ng-repeat="todo in toDoList.list">
          <input type="checkbox" ng-model='todo.done'/>
            {{todo.title}}
        </li>
      </div>
        <div id="totalcount">{{toDoList.list.length}} of {{toDoList.list.length}} todos remaining</div>
      </ul>
    </div>
  </body>
</html>
