<!doctype html>
<html lang="en" ng-app="toDoList">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="components/moment/moment.js"></script>
    <script src="components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoController.js"></script>
  </head>

  <body ng-controller="todoController as toDoList">
    <div>
        <input type="text" ng-model="toDoList.newTodo"/>
        <button ng-click="toDoList.addToList()">Go</button>
      <button ng-click="toDoList.clear()">clear</button>
      <ul>
        <li class="todo" ng-repeat="todo in toDoList.list">
          <input type="checkbox" ng-model='todo.done'/>
            {{todo.title}}
          <span>{{toDoList.time}}</span>
        </li>
        <div class="todo-count">{{toDoList.list.length}} of {{toDoList.list.length}} todos remaining</div>
      </ul>
    </div>
  </body>
</html>
